@import url(normalize.css);
@import url('https://fonts.googleapis.com/css?family=Acme|Sintony:400,700');

/**, *:before, *:after {
    box-sizing: border-box;
}*/

body {
    background: #dfdfdf;
    color: #868686;
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Acme', sans-serif;
    font-weight: 700;
}

.main-nav .bg-orange, .main-nav .bg-purple, .main-nav .bg-yellow,
.main-nav .bg-green, .main-nav .bg-blue, .btn {
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
}

.main-content {
    width: 1000px;
    margin: 0px auto;
}

.bg-orange {
    background: #f26c4e;
}
.main-nav .bg-orange:hover,
.btn.bg-orange:hover {
    background: #fd8a70;
}

.bg-purple {
    background: #cf6baa;
}
.main-nav .bg-purple:hover {
    background: #e993c9;
}

.bg-yellow {
    background: #f2c24d;
}
.main-nav .bg-yellow:hover {
    background: #a3d178;
}

.bg-green {
    background: #a3d178;
}
.main-nav .bg-green:hover {
    background: #c4eaa0;
}

.bg-dark-green {
    background: #8ebe5f;
}

.bg-blue {
    background: #78ccd0;
}
.main-nav .bg-blue:hover {
    background: #9de4e7;
}

.btn {
    border: none;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

.fa.fa-facebook-official {
    color: #3a7898;
}
.fa.fa-twitter-square {
    color: #78ccd0;
}
.fa.fa-google-plus-square {
    color: #647BF3;
}
.fa.fa-youtube-play {
    color: #f26c4e; 
}

    /*---Header---*/
header {
    width: 100%;
    text-align: center;
}

.main-title {
    font-size: 48px;
    line-height: 40px;
}

.main-title span {
    font-size: 24px;
    letter-spacing: 4px;
}

    /*---Navigation---*/
.main-nav {
    background: #cdcdcd;
    width: 100%;
}

.main-nav ul {
    list-style: none;
    padding-left: 0px;
    width: 1000px;
    height: 70px;
    margin: 0px auto;
    text-align: left;
    position: relative;
    left: -4px;
}

.main-nav ul li {
    border-left: 4px solid #dfdfdf;
    float: left;
    height: 70px;
    width: 140px;
    position: relative;
}

.main-nav ul li a {
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
    padding-top: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 140px;
    height: 70px;
}

.main-nav ul li:last-child {
     border-right: 4px solid #dfdfdf;
}

.main-nav ul li a:before {
    content: '';
    background: #f26c4e;
    border: 3px solid #dfdfdf;
    border-radius: 10px;
    position: absolute;
    width: 10px;
    height: 10px;
    left: -10px;
    top: 27px;
}

.main-nav ul li:last-child a:after {
    content: '';
    background: #f26c4e;
    border: 3px solid #dfdfdf;
    border-radius: 10px;
    position: absolute;
    width: 10px;
    height: 10px;
    right: -10px;
    top: 27px;
}

    /*--- Slider ---*/
.feature-slider {
    background: #fff;
    position: relative;
    height: 320px;
    margin-top: 4px;
}

.nav-left, .nav-right {
    position: absolute;
    background-image: cover;
    width: 53px;
    height: 53px;
    top: 131px;
}

.nav-left {
    background: url('../img/slider-left.png');
    left: -10px;
}

.nav-right {
    background: url('../img/slider-right.png');
    right: -10px;
}

.slider-nav {
    list-style: none;
    padding: 0px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0px;
}

.slider-nav li {
    background: #cdcdcd;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}

.slider-nav li.active {
    background: #f26c4e;
}

.slider-nav li a {
    position: absolute;
    width: 10px;
    height: 10px;
}

.slide-image {
    position: absolute;
    bottom: 0px;
    right: 90px;
}

.slide-text {
    width: 310px;
    margin: 40px 0 0 90px;
    float: left;
}

.slide-text h2 {
    color: #f26c4e;
    font-family: 'Sintony', sans-serif;
    font-size: 24px;
    margin-bottom: 0px;
}

    /*---Feature Service---*/
.feature-services {
    text-align: center;
    
}

.column-half {
    width: 50%;
    height: 400px;
    float: left;
    box-sizing: border-box;
    padding: 40px;
}

.feature-services .column-half h2 {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.feature-services .column-half p {
    color: #fff;
    text-align: left;
}

.feature-services .column-half h2 a {
    color: #fff;
    text-decoration: none;
}

.feature-services .column-half p a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.feature-services .column-half p a:hover {
    color: #e7ffbc;
}

    /*---Footer---*/
.clearfix::after {
    content: " ";
    clear: both;
    display: block;
}

.clearfix {
    display: inline-block;
}

footer {
    background: #ededed;
    width: 100%;
}

.column-one-third {
    float: left;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
}

.column-one-third:last-child {
    float: right;
}

.blog-list {
    color: #8ebe5f;
    padding-left: 20px;
}

.blog-list li {
    margin-bottom: 5px;
}

.blog-list li a {
    color: #78ccd0;
    font-weight: 700;
    text-decoration: none;
}

.blog-list li a:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    padding-left: 0px;
}

.social-list li {
    float: left;
    margin-right: 10px;
}

.social-list li a {
    font-size: 50px;
    color: #fff;
}

.column-one-third.column-registration {
    background: #f26c4e;
}

.column-one-third.column-registration h2 {
    color: #fff;
}

.column-one-third.column-registration input {
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.column-registration .btn {
    width: 100%;
    background: #f2c24d;
    margin-bottom: 40px;
}

























